
#pages{
    width: 100%;
    top: 0;
    
    @include mdScreen{
        position: fixed;
        padding-top: 60px;
    }

    &.relative{
        position: relative;
    }

    .greeking {
        height: 20px;
        background: #D9D9D9;
        margin-bottom: 15px;
        width: 70%;
    }
    .lineA{
        width: 80%;
    }
    .lineB{
        width: 72%;
    }
    .lineC{
        width: 74%;
    }
    .lineD{
        width: 68%;
    }
    .articleContents{
        position: relative;

        .backToTop{
            background: url('../img/returnArrow.png') 0 0 no-repeat;
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            top: 0;
            left: 20px;
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 0.3s;
            margin-top: -43px;

            &:hover{
                opacity: 1;
            }

            @include mdScreen{
                left: 10px;
                margin-top: 0;
            }
        }
    }

    .articleWrapper{
        min-height: 400px;
        padding: 60px 0;
        border-bottom: 1px solid $borderGrey;
        position: relative;

        @include bgScreen{
            min-height: 400px;
            padding-bottom: 60px;
            border-bottom: 1px solid $borderGrey;
        }

        &:nth-child(even){
            background: $superLightGrey;
        }

        h1{
            margin: 0 0 20px 0;
            font-size: 2em;
            color: $txtColor;
            line-height: 1.2em;

            @include bgScreen{
                font-size: 2.8em;
                line-height: 1.1em;
            }
        }

        h4{
            font-size: 0.8em;
            font-family: $bold;
            margin-bottom: 0;

            &:first-child{
                margin-top: 0;
            }
        }
            
        p, .endDot {
            font-size: 0.8em;
            margin: 0 0 10px 0;

            &:last-child:after{
                content: '';
                height: 5px;
                width: 5px;
                border-radius: 10px;
                background-color: $ctkLtBlue;
                display: inline-block;
                position: relative;
                top: -2px;
                left: 4px;
            }

            strong{
                font-family: $bold;
            }
        }

        .articleHeader{
            position: relative; 
            margin-bottom: 15px;
        }

        .floatQuote{
            position: absolute;
            bottom: 0;
            padding: 20px;
            width: 330px;
        }

        .articleSubhead{
            margin: 0 0 10px 0;
            font-size: 1em;
            color: $ctkDkBlue;
            font-family: $light;
        }

        .endDot:after{
            content: '';
            height: 5px;
            width: 5px;
            border-radius: 10px;
            background-color: $ctkLtBlue;
            display: inline-block;
            position: relative;
            top: -2px;
            left: 4px;
        }

        .noDot:last-child:after{
            display: none;
        }

        .pageLink{
            color: white;
            // background-color: $ctkGradient;
            @include ctkGradient(left, right);
            text-decoration: none;
            display: inline-block;
            margin: 10px 0;
            padding: 6px;
            border-radius: 5px;
            -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
        }

        &#director-letter{

            .backToTop{
                top: 6px;
            }
            
            @include mdScreen{
                padding-top: 100px;
            }

            .col{
                padding: 0;

                @include bgScreen{
                    padding: 0 15px;
                }
            }
            
            .imageCol{
                height: 300px;
                
                @include mdScreen{
                    display: none;
                    padding-top: 6px;
                }

                @include bgScreen{
                    display: inline-block;
                    padding-top: 7px;
                    height: 882px;
                }

                img{
                    margin-top: -50%;
                    width: 100%;
                    
                    @include bgScreen{
                        margin-top: 0px;
                        height: 100%;
                        width: auto;
                    }
                }
            }

            .textCol{
                @include mdScreen{
                    width: 100%;
                    float: none;
                }
                @include bgScreen{
                    width: 50%;
                    float: left;
                }

                p:last-child:after{
                    display: none;
                }
            }

            .signature{ 

                @include mdScreen{
                    float: right;
                    margin-right: 225px;
                }
                @include bgScreen{
                    margin-right: 95px;
                }
            } 
            .content {
                @include mdScreen{
                    -webkit-column-count: 2; /* Chrome, Safari, Opera */
                    -moz-column-count: 2; /* Firefox */
                    column-count: 2;
                    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
                    -moz-column-gap: 20px; /* Firefox */
                    column-gap: 20px;
                }
                @include bgScreen{
                    // redundant
                }
                
                .altImage{
                    display: none;

                    @include mdScreen{
                        display: inline;
                        float: left;
                        height: 170px;
                        width: 100%;
                        overflow: hidden;
                        margin-top: 7px;
                        margin-bottom: 13px;
                    }
                    @include bgScreen{
                        display: none;
                    }

                    img{
                        @include mdScreen{
                            max-width: 100%;
                            margin-top: -220px;
                        }
                    }
                }
            }

        }
        &#sefredaktor{

            header.articleHeader{
                margin-bottom: 15px;

                h3{
                    margin-top: 15px;
                    color: $txtColor;
                    font-family: $bold;
                }
                .full{

                    @include mdScreen{
                        min-height: 360px;
                    }

                    @include bgScreen{
                        min-height: 420px;
                    }

                    img{
                        width: 100%;
                        min-height: auto;
                    }
                }
                .titleWrap{
                    z-index: 10;
                    
                    @include mdScreen{
                        position: absolute;
                        width: 30%;
                        top: 30px;
                        padding: 20px;
                    }
                    @include bgScreen{
                        top: 50px;
                    }

                    h1, h2{
                        @include mdScreen{
                            color: white;
                        }
                    }
                    h2{
                        font-family: $light;
                        font-size: 1em;

                        @include mdScreen{
                            width: 70%;
                        }
                    }
                    
                }
            }
        }
        &#comfort-v-prace{
            .backToTop{
                top: 8px;
            }
        }
        &#nova-sluzba{
            .backToTop{
                top: 8px;
            }
            .content-wrap, .col{
                overflow: visible;
            }
            .leftCol{
                .imgWrap{
                    position: relative;
                    width: 100%;
                    @include mdScreen{
                        margin-left: -19px;
                    }

                    @include bgScreen{
                        margin-left: -26px;
                    }

                    img{
                        width: 100%;
                    }
                }
            }
        }
        &#dokaze-titulek{
            .backToTop{
                top: 8px;
            }
            .articleSubhead{
                font-size: 1em;
            }
            .imgWrap{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        &#fotobanka{
            img{
                width: 100%;
            }
            .articleSubhead{
                margin-top: -3px;
            }
            .floatQuote{
                h2{
                    font-size: 1em;
                    line-height: 1.2em;
                    color: rgb(0, 0, 0);
                    background-image: linear-gradient(to bottom, black 50%, black 50%);
                    background-repeat: no-repeat;
                    background-size: 40px 2px;
                    background-position: bottom left;
                    padding-bottom: 12px;
                }
            }
        }
        &#hospodareni{
            .backToTop{
                top: 8px;
            }
            @include ctkGradient(top, bottom);
            color: white;
            h1{
                color: white;
                @include mdScreen{
                    // font-size: 3.9em;
                }

                @include bgScreen{
                    font-size: 3.9em;
                }
            }
            h3{
                margin-top: 30px;
                
                @include mdScreen{
                    width: 26%;
                    margin-bottom: -49px;
                }
                @include bgScreen{
                    width: 30%;
                    margin-bottom: -31px;
                }
            }
            table{
                width: 100%;
                font-size: 0.8em;

                tr {
                    border-bottom: 1px solid white;
                }

                tr:first-child{
                    vertical-align: bottom;
                }

                td{
                    padding: 8px 0;
                    text-align: right;
                    width: 13%;
                }
                td:first-child{
                    width: 28%;
                    text-align: left;
                }
            }
        }
        &#czech-press-photo {
            .articleHeader{
                img{
                    width: 120%;
                }
            }
            .floatQuote{
                padding: 10px 20px;
                width: 80%;
    
                @include mdScreen{
                    width: 330px;
                }

                h1, h2{
                    color: white;
                    margin: 0;
                }
                h1{
                    font-size: 2.5em;
                }
                h2{
                    font-size: 2em;
                    line-height: 1.1em;
                    font-family: $light;
                }
            }
            .article{
                @include mdScreen{
                    height: 205px;
                }

                @include bgScreen{
                    height: 172px;
                }
            }
        }
        &#distribuce-zpravy{
            .backToTop{
                top: 8px;
            }
            .col{
                overflow: visible;
            }
            img{
                width: 100%;
            }
        }
        &#brno{
            .floatQuote{
                width: 80%;

                h1{
                    color: white;
                }
            }
            img{
                width: 100%;
            }
            .article{
                margin-bottom: 15px;
            }

            .col{
                float: left;
                img{
                    width: 100%;
                }
            }

            .col1, .col2{
                width: 50%;
            }
            .col1{
                padding: 0 6px 0 0;
            }
            .col2{
                padding: 0 0 0 6px;
            }
            p.noDot{
                margin-top: 10px;
            }
        }
        &#redakci-techniku{
            .backToTop{
                top: 8px;
            }
            .article{
                margin-bottom: 15px;
            }
            .col3{
                width: 32%;
                img{
                    width: 100%;
                }
            }
        }
    }
}