$txtColor: #3d3d3d;
$ctkDkBlue: #1d539c;
$ctkLtBlue: #2c8bc4;
$ctkSuperLtBlue: #93D3FA;
$borderGrey: #8A8A8A;
$bold: 'maxima_bold';
$regular: 'maxima_regular';
$light: 'maxima_light';

::-moz-selection {
    background: $ctkSuperLtBlue;
    text-shadow: none;
}

::selection {
    background: $ctkSuperLtBlue;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: $regular, sans-serif;
    font-size: 17px;
    line-height: 1.4;
    color: $txtColor;
    text-rendering: optimizeLegibility;
    font-weight: 100;
}

h1, h2, h3, h4, h5 {
    font-family: $bold;
    letter-spacing: 0.2px;
    font-weight: 100;
}

a{
  color: $ctkDkBlue;
  transition: color 0.2s;

  &:hover {
    color: $ctkLtBlue;
  }
}

.col{
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.full{
    width: 100%;

    img{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.content-wrap{
  padding: 0 30px;
  margin: 0 auto;
}

header{
    padding-top: 20px;
    margin-bottom: 20px;

    .logo{
        width: 80px;
        display: inline-block;
        overflow: hidden;
    }
    
    h1{
        display: inline-block;
        float: right;
        position: relative;
        font-size: 1.7em;
        margin: 0;
        line-height: 1.65em;

        a{
            text-decoration: none;
            background: -webkit-linear-gradient(left, $ctkDkBlue, $ctkLtBlue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}   

#content {
    &.index{
        .article{
            margin-bottom: 15px;
            position: relative;

            h2 {
                line-height: 1.3em;
                margin: 0;
                font-size: 1em;
                a{
                    text-decoration: none;
                    background-image: linear-gradient(to bottom, rgba(44,139,196,0) 50%, rgba(44,139,196,0.6) 50%);
                    background-repeat: repeat-x;
                    background-size: 2px 4px;
                    background-position: 0 14px;
                }
            }
            img {
                max-width: 100%;
            }
            p {
                font-size: 0.9em;
                margin-bottom: 0;

                .moreLink{
                    text-decoration: none;
                    margin-left: 5px;
                    font-size: 1.2em;
                    line-height: 0;
                }
            }
            &.director-letter{
                p:before{
                    content: '\201C';
                    position: relative;
                    float: left;
                    font-size: 8.3em;
                    height: 40px;
                    top: -36px;
                    left: -11px;
                    width: 50px;
                    color: $ctkDkBlue;
                }
                h2{
                    margin-bottom: 10px;
                }
            }
            &.sefredaktor{
                img{
                }
                h2{
                    position: absolute;
                    width: 78%;
                    padding: 10px;
                    bottom: 0;
                    line-height: 1.1em;
                    font-size: 1em;
                    a{ 
                        color: white;
                        text-shadow: 0px 1px 1px rgb(29, 83, 156);
                        &:hover {
                            color: $ctkLtBlue;
                        }
                    }
                }
            }
            &.comfort-v-prace{
                img{    
                    display: inline-block;
                    width: 50%;
                }
                h2{
                    width: 50%;
                    float: right;
                    box-sizing: border-box;
                    padding-left: 10px;
                }
                p{
                    clear: both;
                    margin-top: 10px;
                    padding-bottom: 15px;
                    border-bottom: solid 1px $borderGrey;
                }
            }

            &.nova-sluzba{
                width: 50%;
                float: left;
                box-sizing: border-box;
                padding-right: 10px;
                p{
                    margin-top: 10px;
                    padding-bottom: 15px;
                    border-bottom: solid 1px $borderGrey;
                }
            }
            &.dokaze-titulek{
                width: 50%;
                float: left;
                box-sizing: border-box;
                padding-left: 10px;
                overflow: hidden;
                height: 272px;

                h2{
                    position: absolute;
                    bottom: 0;
                    padding: 10px;
                    width: 70%;
                    a{
                        color: white;
                        text-shadow: 0px 1px 1px rgb(29, 83, 156);
                        &:hover{
                            color: $ctkLtBlue;
                        }
                    }
                }
            }
            &.fotobanka{
                clear: both;

                h2{
                    box-sizing: border-box;
                }
                img{
                    width: 100%;
                }
                p{
                    clear: both;
                    margin-top: 10px;
                }
            }
            &.hospodareni{
                background-image: url('../img/business.jpg');
                background-repeat: no-repeat;
                background-position: center;

                h2 {
                    padding: 20px 10px;
                    a {
                        color: white;
                        &:hover {
                            color: $ctkLtBlue;
                        }
                    }
                }
            }
            &.distribuce-zpravy{
                padding-bottom: 10px;
            }
            &.brno {
                h2{
                    position: absolute;
                    bottom: 0;
                    padding: 10px;
                    a {
                        color: white;
                        text-shadow: 0px 1px 1px rgb(29, 83, 156);
                        &:hover{
                            color: $ctkLtBlue;
                        }
                    }
                }
            }
            &.redakci-techniku{
                h2{
                    position: absolute;
                }
                img {
                    margin-top: 20px;
                }
            }
        }
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

    header{
        margin-bottom: 0;

        .logo{
            width: 300px;
            padding-left: 15px;
        }
        
        h1{
            font-size: 2.5em;
            margin: 0;
            line-height: 1em;
            padding-right: 15px;
        }
    } 

    .content-wrap{
        width: 740px;
        padding-top: 50px;
    }

    .col {
        float: left;
        padding: 0 15px;
    }

    .col-1{
        width: 25%;
    }

    .col-2{
        width: 50%;
    }
    #content {
        &.index{
            .article{
                &.dokaze-titulek{
                    width: 50%;
                    float: left;
                    padding-left: 10px;
                    height: 344px;

                    img{
                        max-width: 115%;
                    }
                }
                &.fotobanka{
                    clear: both;

                    h2{
                        width: 50%;
                        float: right;
                        box-sizing: border-box;
                        padding-left: 10px;
                    }
                    img{
                        width: 50%;
                    }
                    p{
                        clear: both;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1140px) {

    header{
        .logo{
            width: 300px;
        }
        
        h1{
            font-size: 4.6em;
            margin: 0;
            line-height: 0.5em;
        }
    } 

    #content {
        &.index{
            .article{
                h2 {
                    line-height: 1.2em;
                    margin: 0;
                    font-size: 1.3em;

                    a{
                        background-position: 0 20px;
                    }
                }
                &.sefredaktor{
                    h2{
                        width: 74%;
                        line-height: 1.2em;
                        font-size: 1.3em;
                    }
                }
                &.dokaze-titulek{
                    height: 272px;
                }
            }
        }
    }

    .content-wrap {
        width: 1026px; 
    }

    .col{
        padding: 0 15px;
    }

    .col-2{
        width: 50%;
    }

    .col-1{
        width: 25%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}