
extends layout
//- this logic should be moved to a view at some point

block content
  - var lineHeight = 2.2;
  - var archives = _.chain(env.helpers.getArticles(contents)).sortBy(function(article){ console.log(article.metadata.order); return article.metadata.order; }).value();

  section.archive
    h2 Archive
    ul
      each article in archives
        li= article.metadata.order
          span article.metadata.title
          