doctype html

html(lang='cs') 
    head
    body
        block vars
        .articleContents
            section
                .backToTop
                div.content-wrap
                    block content

            .clearfix
    