extends articlelayout

block append vars
  - bodyclass = 'article-detail ' + page.metadata.indexClass

block content
  header.articleHeader
        .full
            img(src="img/pressphoto-fastcar-bg.jpg")
        
        .floatQuote
            h1= page.metadata.introPart1
            h2!= page.metadata.introPart2

    article.article.txtCol-2-2
        section.content!= typogr(page.html).typogrify()


