extends articlelayout

block append vars
  - bodyclass = 'article-detail ' + page.metadata.indexClass

block content
  header.articleHeader
      h1= page.title

  article.article
    .col.col-2
        h3.articleSubhead= page.metadata.introPart1
        div.!= typogr(page.html).typogrify()
    .col.col-2 
        .full
            img(src="img/sons.jpg")
        br
        a(href=page.metadata.pageLink) www.sons.cz