extends articlelayout

block append vars
  - bodyclass = 'article-detail ' + page.metadata.indexClass

block content
  header.articleHeader
      h1!= page.metadata.altTitle

  article.article
    .col.col-2.leftCol
        h3.articleSubhead= page.metadata.excerpt
        .imgWrap
            img(src="img/windows.png")
    
    .col.col-2.txtCol-1-2!=  typogr(page.html).typogrify()
    


