extends articlelayout

block append vars
  - bodyclass = 'article-detail ' + page.metadata.indexClass

block content
    header.articleHeader
        h1= page.title
        h3.articleSubhead= page.metadata.introPart1

    article.article
        section.content.txtCol-2-4!= typogr(page.html).typogrify()
    div
        .col.col3.full.normalPadding
            img(src="img/tw-1.png")
            p.noDot východoněmecký RFT T-51
        .col.col3.full.normalPadding
            img(src="img/tw-2.png")
            p.noDot děrovač Siemens
        .col.col3.full.normalPadding
            img(src="img/tw-3.png")
            p.noDot model dálnopisu Siemens T100
